@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Indie+Flower&display=swap');

body {
	background-image: url("img/background.jpg");
	font-family: "Google Sans", sans-serif;
}

p {
	font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "BBH Bartle", sans-serif;
}

.container {
	color: white;
}

.par {
	background-color: black;
	padding: 25px;
}

.logo img {
	max-width: 100vh;
}

#albumcover {
	max-width: 100%;
}

.nota {
	font-family: "Indie Flower", cursive;
	font-size: 25px;
	padding: 80px;
}

.button-track {
	border: none;
	font-family: "Google Sans", sans-serif;
	width: 100%;
	height: 50px;
	font-size: 20px;
	color: #FFFFFF;
	background-color: #000000;
	background-color: #123653;
}

.cover-bg {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/albumcover.png");
	filter: sepia(100%);
}

textarea {
	background: none;
	color: white;
	width: 100%;
	height: 65%;
	border: none;
	outline: none;
	font-size: 20px;
	text-align: center;
	
}

.tracktitle {
	background-color: #000000;
	width: 100%;
	padding: 20px;
}

#track-audio {
	width: 100%;
}

a {
	color: white;
}

.menu {
	text-align: center;
	font-size: 20px;
}

.fotos-container img {
	width: 30%;
}

.dual img {
	width: 100%;'/home/pasteluengas/1tb/Dulces Analogicos/EPK/img/CD2.jpg' '/home/pasteluengas/1tb/Dulces Analogicos/EPK/img/CD2.jpg' 
}

li {
	font-size: 20px;
}

small {
	color: white;
}

#ass {
	background-color: black;
}
